.info__main {
  padding: 60px;
}

.text {
  margin: 10px;
}

.item__news {
  width: 250px;
  height: 200px;
  background: gray;
  margin: 0 15px;
  padding: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .item__news {
    margin: 15px 0;
  }
}
