.slider{
    background:gray;
}

.width__mean{
    width:50%;
}

.info__main{
    padding:60px;
}


.contact{
    font-size:20px;
    border-radius:20px;
    background:#E5E5E5;
    width:160px;
    padding:10px 20px;
    
}

.text{
    margin:10px;
}

.title{
    font-size:4.1em;
    font-weight: bold;
}
.subtitle{
    font-size:30px;
    margin-bottom:20px;
}

.item__news{
    width:250px;
    height:200px;
    background:gray;
    margin:0 15px;
    padding:10px;
    cursor: pointer;
}

@media only screen and (max-width:1024px){
    .width__mean{
        width:100%;
    }
    .slider{
        height:500px;
        background-color:gray;
    }
    .info__main{
        padding:20px 20px;
    }
    .title{
        font-size:2.2em;
    }
    .contact{
        margin-bottom:20px;
    }
    .subtitle{
        font-size:20px;
        font-weight: 700;
    }
    .item__news{
        margin:15px 0;
    }
}