
.logo{
    width:150px;
    height:60px;
    object-fit: cover;
}

#header{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height:80px;
}

.route{
    padding:10px;
    margin:0 10px;
    font-size:15px;
    transition:all .1s linear;
}
.route:hover{
    font-weight: bold;
}

.login{
    width:40px;
    height:20px;
    padding:8px 20px;
    border:1px solid #000;
    border-radius:30px;
}

.register{
    width:40px;
    height:20px;
    padding:8px 20px;
    border-radius:30px;
    background:#E5E5E5;
}