.footer {
  width: 100%;
  background: #313131;
  padding-bottom: 140px;
}

.route {
  padding: 10px;
  margin: 0 10px;
  font-size: 15px;
  transition: all 0.1s linear;
}

.nav {
  border-left: none;
  border-right: none;
  padding-bottom: 30px;
  padding-top: 70px;
}

.Copyright {
  color: #ffffffcc;
}

.route:hover {
  font-weight: bold;
}

.logo__footer {
  background: #313131;
  top: -30px;
}

.logo__footer img {
  padding: 0 20px;
  width: 200px;
  height: 70px;
  object-fit: cover;
}

.network {
  width: 36px;
  height: 36px;
  margin: 0 20px;
}

.instagram {
  width: 36px;
  height: 36px;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
